* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #addaff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 816px;
    height: 1056px;
    background: #ebebeb;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 70%;
    box-shadow: 1px 1px 10px rgb(43, 43, 43);
    grid-gap: 20px;
    overflow: hidden;
}

header {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 6%;
}

.hr1 {
    border: .5em solid rgb(43, 43, 43);
}

p {
    font-family: 'Quicksand', sans-serif;
}

.p1 {
    padding-top: 3.4%;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

.img-h2 {
    padding: 40px 0px 0px 25px;
    grid-column-start: 1;
    grid-row-start: 1;
}

#me {
    padding-bottom: 10px;
    filter: drop-shadow(5px 5px 1px rgb(43, 43, 43));
}

h1 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.name {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    letter-spacing: 4px;
    color: #963838;
    text-shadow: 2px 0px rgb(43, 43, 43);
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 4px;
    color: #963838;
}

.contact {
    font-family: 'Quicksand', sans-serif;
    color: #ebebeb;
    background-image: linear-gradient(to bottom left, #963838, #860000);
    margin: 0px 0px 23px 3px;
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    
}

.contact-info {
    font-size: 28px;
    letter-spacing: 4px;
    grid-row: 1/2;
    margin-top: 15%;
    text-align: center;
}

section {
    text-align: center;
    font-size: 16px;
}

i {
    margin-bottom: 3%;
}

.hr2 {
    border: 1px solid #ebebeb;
    width: 170px;
    margin-top: 14%;
    margin-left: 15%;
}

.phone {
    grid-row: 3/4;
}

.location {
    grid-row: 4/5;
}

.email {
    grid-row: 5/6;
}

.linkedin {
    grid-row: 6/7;
}

.github {
    grid-row: 7/8;
}

a {
    text-decoration: none;
    color: #ebebeb;
}